.page {
  max-width: 780px;
  margin: 0 auto 60px;

  a {
    font-weight: 500;
    border-bottom: 1px solid var(--bg-color-alt);

    &:hover {
      color: var(--font-color);
      border-bottom-color: var(--font-color);
    }
  }
}
