/* Footer */
.footer {
  position: relative;
  margin-top: 44px;
  padding: 96px 0 60px;
  overflow: hidden;
  background-color: var(--bg-color);
  border-radius: 24px 24px 0px 0px;
  border: 6px solid var(--bg-color-alt);
  border-bottom: unset;

  .footer_nav {
    text-align: center;

    .footer_nav__item {
      display: inline;
      margin: 0 24px;
      font-size: 0;
    }

    .footer_nav__link {
      font-size: 16px;
      font-weight: 600;
      color: var(--font-color);
    }
  }

  @media only screen and (max-width: $desktop) {
    padding: 80px 0 60px;
  }

  @media only screen and (max-width: $mobile) {
    margin-top: 30px;
    padding: 60px 0;

    .footer_nav {
      .footer_nav__item {
        margin: 0 12px;
      }
    }
  }
}

/* Copyright */
.copyright {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: rgba(var(--accent-color), 0.7);

  p {
    margin: 0;
  }

  a {
    font-weight: 500;
    color: var(--font-color);
  }

  @media only screen and (max-width: $mobile) {
    font-size: 14px;
  }
}
