/* Color Scheme */
:root {
  --primary-color: #ffffff;
  --secondary-color: #cccccc;
  --accent-color: #ffffff;
  --font-color: #262626;
  --bg-color: #eeeeee;
  --bg-color-alt: #ffffff;
  --heading-color: #292922;
  --bg-color-invert: #000000;
}
[data-theme="dark"] {
  --primary-color: #121212;
  --secondary-color: #000000;
  --accent-color: #ffffff;
  --font-color: #ffffff;
  --bg-color: #000000;
  --bg-color-alt: #343434;
  --heading-color: #c4c4c4;
  --bg-color-invert: #eeeeee;
}
